<h1>Reset Password</h1>
<%= simple_form_for(@workeraccount,url:workeraccount_path(@workeraccount),html: { method: :put }) do |f|%>
	<%= f.error_notification %>
	<div class="form-inputs">
	    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
		    <%= f.input :password_confirmation, required: true %>
	    </div>

	    <div class="form-actions">
	        <%= f.button :submit,"Change my password" %>
	    </div>
	
<% end %>
<%= link_to 'Back',workeraccounts_path%>
